
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

img {
    width: 100%;
}

.heroContainer, .aboutContainer, .packageContainer, .tagline, .quoteContainer, .gridContainer, .threeImgRow, .minisContainer, .testimonialContainer, .contact, footer  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteContainer, .gridContainer, .minisContainer, .contact {
    flex-direction: column;
}

.heroContent, .heroImgContainer, .minisImgContainer, .minisContent {
    width: 50%;
}

button {
    border: 1px solid $white;
    background-color: $white;
    padding: 12px 40px 12px;
    color: $primary;
    transition: 0.5s ease;
}

button.book:hover {
    border: 1px solid $primary;
    color: $white;
    background-color: $crescentBeach;
}

button:hover {
    border: 1px solid $primary;
    color: $white;
    background-color: $primary;
}
