.hero {
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(../assets/);


    h1 {
        margin: 0;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 0.7rem;
        margin: 25px 0;
    }
}

// .heroImgContainer {

// }

.heroContent {

    img {
        width: 125px;
    }
}

.tagline {
    height: 70px;
    color: $white;
    font-size: 0.9rem;
}