

@media(min-width: 1300px) {
    .minisContainer {
        padding: 50px 0;
    }
    .minisContent {
        h3 {
            text-align: left;
        }
    }
}
@media(max-height: 765px) and (min-width: 1150px) {
    .heroContainer {
        margin: 10px 150px;
        gap: 20px;

        h1 {
            margin-bottom: 10px;
            font-size: 1.5rem;
        }
        
        h2 {
            margin: 10px 0;
        }

        p {
            font-size: 0.8rem;
        }
    }
}


// Desktop 1025px — 1200px
@media(max-width: 1200px) {
    // about and minis (h3)
    .heroContainer {
        gap: 0;
        margin: 30px;
    }
    .navMenu {
        gap: 30px;
    }


    .minisContent {
        padding: 0 30px 0 30px;
    }
}

@media(max-width: 1140px) {
    // Nav (gap) and Hero (gap)
    
    .aboutContent {
        h3 {
            font-size: 3.5rem;
        }
        p {
            margin-right: 25%;
        }
    }

    .minisContent {
        h3 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 1.3rem;
        }
    }

}

@media (max-width: 1080px) {
    .heroContainer {
        margin: 30px 0px;
        h2 {
            margin: 10px 0;
        }
        h1 {
            margin-bottom: 20px;
            font-size: 1.6rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .navMenu {
        gap: 20px;
    }

    .aboutContent {
        h3 {
            font-size: 3rem;
        }
        h4 {
            font-size: 1.4rem;
        }
        p {
            margin-right: 25%;
        }
    }
    .familyPortrait {
        left: -25%;
    }

    .minisContent {
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 1080px) {
    .minisContainer {
        flex-direction: column;
        
        img {
            width: 100%;
        }
        .minisContent {
            width: 100%;
            padding: 50px 80px;
            align-items: center;

            h3 {
                font-size: 3rem;
            }

            h4 {
                font-size: 1.5rem;
                margin: 15px 0 30px;
                text-align: center;
            }

            p {
                text-align: center;
                padding: 0 20px;
            }

            .button {
                margin-top: 20px;
            }
        }

        .desktop{
            display: none;
        }
        
        .mobile {
            display: block;
        }
    }
}

// Small screens, laptops – 769px — 1024px
@media(max-width: 1024px) { 
    .quoteContainer {
        background-attachment: initial;
    }
}

@media(max-width: 960px) {

    // HEADER/ NAV START

    .hamburger {
        display: block;
    }

    .navMenu {
        position: absolute;
        padding: 8px 0;
        top: -275px;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: $primary;
        width: 100vw;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease-out;
    }
    .navItem {
        margin: 8px 0;
        z-index: 1;
    }
    .navLink {
        color: $white;
    }
    .navLink:hover {
        color: $crescentBeach;
    }

    .socialIconContainer {
        margin-right: 100px;
        padding: 0;
    }

    // HEADER/ NAV END

    // HERO START

    .hero {
        height: 100%;
    }
    .heroContainer {
        margin: 50px;
        flex-direction: column;
    }

    .heroContent {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1, p {
            text-align: center;
        }

        img {
            display: none;
        }
    }

    .heroContent, .heroImgContainer  {
        width: 100%;
    }

    .heroImgContainer {
        max-width: 500px;
    }

    // HERO END

    // ABOUT START

    .aboutContainer {
        flex-direction: column-reverse;
    }

    .aboutContent, .aboutImages {
        width: 100%;
    }

    .aboutContent {
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        // margin-top: 15%;
        h3 {
            font-size: 3.5rem;
            text-align: end;
            padding-left: 50%;
            padding-right: 10%;
            // align-self: end;
        }
        h4 {
            margin: 20px 0;
        }
        p {
            margin: 0;
            text-align: center;
        }
    }

    .aboutImages {

        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }

        .aboutLogo {
            width: 25%;
            top: 88%;
            left: 32%;
            bottom: 0;
            min-width: 150px;
        }
        .familyPortrait {
            top: 75%;
            left: 3%;
            width: 40%;
            min-width: 260px;
        }
    }

    // ABOUT END


    // PACKAGES START

    .packages {
        padding-top: 50px;
    }

    .sessionContainer {
        h5 {
            font-size: 1.1rem;
        }
    }

    // PACKAGES END

    // PORTFOLIO START
    .portfolio {
        padding: 50px 20px;
    }

    .gridContainer {
        img {
            margin: 10px;
        }
    }
    // PORTFOLIO END
}



@media(max-width: 890px) {

    .quote {
        font-size: 1.5rem;
    }

    .gridContainer {
        h3 {
            font-size: 3rem;
        }
    }

    .testimonialContainer {
        flex-direction: column;
    }
}

// iPads, Tablets – 481px — 768px
@media(max-width: 768px) {

    .packageContainer {
        flex-direction: column;
    }
    .sessionContainer:nth-child(2) {
        padding: 0;
    }
    .sessionContainer {
        max-width: 500px;
        margin: 30px 0;
        h5 {
            font-size: 1.5rem;
        }
    }
}

@media(max-width: 700px) {

    .aboutContent {
        h3 {
            font-size: 2.5rem;
        }
    }

    .quote {
        font-size: 1.3rem;
    }

    .minisContainer {
        .minisContent {
            padding: 50px;
        }
    }

}

@media(max-width: 620px) {

    .heroContainer {
        margin: 50px 20px;
    }

    .heroImgContainer, .heroContent {
        padding: 0;
    }


    .aboutContent {
        h3 {
            padding-right: 20px;
        }
    }

    .quoteContainer {
        height: 400px;
    }

    .gridContainer {


        img {
            border: 10px solid $white;
        }
    }

}

@media(max-width: 580px) {
    
    .aboutContent {
        padding-top: 70px;
        h3 {
            padding: 0;
            text-align: center;
        }
    }

    .aboutImages {
        .familyPortrait {
            display: none;
        }
    
        .aboutLogo {
            left: 30px;
            top: 85%;
            min-width: 130px;
        }
    }

    .aboutContent, .minisContainer .minisContent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .minisContainer .minisContent h3 {
        font-size: 2.5rem;
    }

    .quote {
        font-size: 1rem;
    }

    .portfolio{
        padding: 35px 10px 25px;
    }

    .gridContainer {

        h3 {
            font-size: 2.5rem;
        }
        img {
            margin: 5px;
        }
    }
}

// Mobile devices – 320px — 480px

@media(max-width: 430px) {

    .minisContainer {
        .minisContent {
            h3 {
                font-size: 2rem;
            }
            h4 {
                font-size: 1.2rem;
            }
            p {
                padding: 0;
            }
        }
    }

    .quote {
        font-size: 0.85rem;
    }
}