

@media(min-width: 1300px) {
    .minisContainer {
        padding: 50px 0;
    }
    .minisContent {
        h3 {
            text-align: left;
        }
    }
}
@media(max-height: 765px) and (min-width: 1150px) {
    .heroContainer {
        margin: 10px 150px;
        gap: 20px;

        h1 {
            margin-bottom: 10px;
            font-size: 1.5rem;
        }
        
        h2 {
            margin: 10px 0;
        }

        p {
            font-size: 0.8rem;
        }
    }
}


// Desktop 1025px — 1200px
@media(max-width: 1200px) {
    // about and minis (h3)
    .heroContainer {
        gap: 0;
        margin: 30px;
    }
    .navMenu {
        gap: 30px;
    }


    .minisContent {
        padding: 0 30px 0 30px;
    }
}

@media(max-width: 1140px) {
    // Nav (gap) and Hero (gap)
    
    .aboutContent {
        h3 {
            font-size: 3.5rem;
        }
        p {
            margin-right: 25%;
        }
    }

    //  .minisContainer {
    //     padding: 30px;
    // }

}

@media (max-width: 1080px) {
    .heroContainer {
        margin: 30px 0px;
        h2 {
            margin: 10px 0;
        }
        h1 {
            margin-bottom: 20px;
            font-size: 1.6rem;
        }

        p {
            font-size: 0.85rem;
        }
    }

    .navMenu {
        gap: 20px;
    }
}

// Small screens, laptops – 769px — 1024px
@media(max-width: 960px) {
    .hamburger {
        display: block;
    }

    .navMenu {
        position: fixed;
        padding: 8px 0;
        top: -275px;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: $primary;
        width: 100vw;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease-out;
    }
    .navItem {
        margin: 8px 0;
        z-index: 1;
    }
    .navLink {
        color: $white;
    }
    .navLink:hover {
        color: $crescentBeach;
    }

    .socialIconContainer {
        margin-right: 100px;
        padding: 0;
    }
    .sessionContainer {
        h5 {
            font-size: 1.1rem;
        }
    }
}

@media(max-width: 860px) {
    .hero {
        height: 100%;
    }
    .heroContainer {
        margin: 50px;
        flex-direction: column;
    }

    .heroContent {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1, p {
            text-align: center;
        }

        img {
            display: none;
        }
    }

    .heroContent, .heroImgContainer  {
        width: 100%;
    }

    .heroImgContainer {
        max-width: 500px;
    }

}

// iPads, Tablets – 481px — 768px
@media(max-width: 768px) {

    .packageContainer {
        flex-direction: column;
    }
    .sessionContainer:nth-child(2) {
        padding: 0;
    }
    .sessionContainer {
        max-width: 500px;
        margin: 30px 0;
        h5 {
            font-size: 1.5rem;
        }
    }
}

// Mobile devices – 320px — 480px
