header {
    background-color: $primary;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;


    a {
        color: $white;
    }
}

.navLink{
    transition: 0.5s ease;

}

.navLink:hover {
    color: $linkHover;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 24px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navMenu.active {
    top: 70px;
}