.portfolio {
    background-image: url(../../assets/leafLeftDesk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.gridContainer {
    padding: 100px 100px 50px;

    .threeImgRow {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }

    img {
        margin: 20px;
        border: 15px solid $white;
    }

    .button {
        margin-top: 25px;
    }
}