.portfoio {
    background-image: url(../../assets/leafLeftDesk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

.gridContainer {
    width: 100%;
    padding: 100px 100px 50px;

    img {
        margin: 20px;
        border: 15px solid $white;
    }

    .button {
        margin-top: 25px;
    }
}